# Database to be used in prisma, get a DB instance from https://neon.tech/
DATABASE_URL="postgresql://user:password@someserver/neondb?sslmode=require"
# The port for the contest tracker backend
BACKEND_PORT="3001"
# Secret key for Next Auth
NEXTAUTH_SECRET="somesecret"

# https://github.com/settings/developers
GITHUB_ID=''
GITHUB_SECRET=''

# https://console.cloud.google.com/
GOOGLE_CLIENT_ID=''
GOOGLE_CLIENT_SECRET=''